<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chemistry Lab</title>

    <!-- Bootstrap CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css"
    />

    <!-- MDB CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    />
  </head>
  <body style="background-color: #e9f1fa" class="gradient-bg">
    {% include 'navbar.html' %} 

    <main class="container my-5">{% block content %} {% endblock %}</main>
    <style>
      .gradient-bg {
        background: linear-gradient(to left, #2193b0, #ffc3a0);
      }
      .gradient-sm {
        background: linear-gradient(to left, #2193b0, #bdc3c7);
      }
    </style>
    <!-- Bootstrap JavaScript CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.min.js"></script>

    <!-- MDB JavaScript CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
  </body>
</html>
