<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chemistry Lab</title>
  
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
  
  <!-- MDB CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css">

</head>
<body >
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#5D3891">
    <div class="container" >
      <a class="navbar-brand" href="{% url 'experiments_list' %}">Experiments</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'experiment_create' %}">Create Experiment</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container my-5" >
    {% block content %}
    {% endblock %}
  </main>

  <!-- Bootstrap JavaScript CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.min.js"></script>
  
  <!-- MDB JavaScript CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>

</body>
</html>
