{% extends 'base.html' %}

{% block content %}
    <form method="post">
    {% csrf_token %}
    <div class="form-group col-md-9">
        <label for="name">Experiment Name:</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    </br>
    <div class="form-group col-md-9">
      <label for="equipment_select">Equipment:</label>
      <div class="input-group">
          <select name="equipment_select" id="equipment_select" class="form-control">
              <option value="">Choose equipment...</option>
                <option value="Beaker">Beaker</option>
                <option value="Bunsen Burner">Bunsen Burner</option>
                <option value="Sunflower Paper">Sunflower Paper</option>
                <option value="Pipette">Pipette</option>
                <option value="Test Tube">Test Tube</option>
                <option value="Lighter">Lighter</option>
                <option value="Test Tube">Test Tube</option>
              <!-- Add more options here -->
          </select>
          <div class="input-group-append">
              <button type="button" style="background-color: #2193b0;" id="add-equipment" class="btn btn-primary">Add</button>
          </div>
      </div>
      <ul id="equipment-list"></ul>
      <input type="hidden" name="equipment" id="equipment-input">
  </div>
    </br>
  <div class="form-group col-md-9">
      <label for="chemical_select">Chemicals:</label>
      <div class="input-group">
          <select name="chemical_select" id="chemical_select" class="form-control">
              <option value="">Choose chemical...</option>
                <option value="Water">Water</option>
                <option value="Starch">Starch</option>
                <option value="Sodium Hydroxide">Sodium Hydroxide</option>
              <!-- Add more options here -->
          </select>
          <div class="input-group-append">
              <button type="button" style="background-color: #2193b0;" id="add-chemical" class="btn btn-primary">Add</button>
          </div>
      </div>
      <ul id="chemical-list"></ul>
      <input type="hidden" name="chemicals" id="chemicals-input">
  </div>
    </br>
  <div class="form-group col-md-9">
    <label for="step">Steps:</label>
    <div class="input-group">
        <select name="verb" class="form-control">
            <option value="">Choose verb...</option>
            <option value="Boil">Boil</option>
            <option value="Add">Add</option>
            <option value="Light">Light</option>
            <!-- Add more options here -->
        </select>
        <input type="number" name="quantity" class="form-control" placeholder="Quantity">
        <select name="chemical" class="form-control">
            <option value="">Choose chemical...</option>
            <option value="Water">Water</option>
            <option value="Starch">Starch</option>
            <option value="Sodium Hydroxide">Sodium Hydroxide</option>
            <!-- Add more options here -->
        </select>
        <select name="equipment" class="form-control">
            <option value="">Choose equipment...</option>
            <option value="Beaker">Beaker</option>
            <option value="Bunsen Burner">Bunsen Burner</option>
            <option value="Sunflower Paper">Sunflower Paper</option>
            <option value="Pipette">Pipette</option>
            <option value="Test Tube">Test Tube</option>
            <option value="Lighter">Lighter</option>
            <option value="Test Tube">Test Tube</option>
            <!-- Add more options here -->
        </select>
        <div class="input-group-append">
            <button type="button" style="background-color: #2193b0;" id="add-step" class="btn btn-primary">Add</button>
        </div>
    </div>
    <ul id="step-list"></ul>
    <input type="hidden" name="steps" id="steps-input">
</div>
    </br>
    <div class="form-group col-md-9">
        <label for="observation">Observation:</label>
        <input type="text" class="form-control" id="observation" name="observation">
    </div>  
    </br>
    <div class="form-group col-md-9">
        <label for="conclusion">Conclusion:</label>
        <input type="text" class="form-control" id="conclusion" name="conclusion">
    </div> 
    </br>
    <button type="submit" class="btn btn-primary col-md-9 mt-2" style="height: 50px; font-size: 1.2em; background-color: #2193b0;">Save</button>

</form>
</div>

  <script>
    const addEquipmentBtn = document.querySelector('#add-equipment');
    const addChemicalBtn = document.querySelector('#add-chemical');
    const addStepBtn = document.querySelector('#add-step');
    const equipmentList = document.querySelector('#equipment-list');
    const chemicalList = document.querySelector('#chemical-list');
    const stepsList = document.querySelector('#step-list');
    const equipmentInput = document.querySelector('#equipment-input');
    const chemicalsInput = document.querySelector('#chemicals-input');
    const stepsInput = document.querySelector('#steps-input');
    const equipmentValues = [];
    const chemicalsValues = [];
    const stepsValues = [];
    addEquipmentBtn.addEventListener('click', () => {
        const equipmentSelect = document.querySelector('#equipment_select');
        const equipmentValue = equipmentSelect.value;
        const equipmentText = equipmentSelect.options[equipmentSelect.selectedIndex].text;
        
        if (equipmentValue) {
            const li = document.createElement('li');
            li.textContent = equipmentText;
            equipmentList.appendChild(li);
            equipmentValues.push(equipmentValue);
            equipmentInput.value = equipmentValues.join(',');
            equipmentSelect.value = '';
        }
    });
    addChemicalBtn.addEventListener('click', () => {
        const chemicalSelect = document.querySelector('#chemical_select');
        const chemicalValue = chemicalSelect.value;
        const chemicalText = chemicalSelect.options[chemicalSelect.selectedIndex].text;
        
        if (chemicalValue) {
            const li = document.createElement('li');
            li.textContent = chemicalText;
            chemicalList.appendChild(li);
            chemicalsValues.push(chemicalValue);
            chemicalsInput.value = chemicalsValues.join(',');
            chemicalSelect.value = '';
        }
    });
    addStepBtn.addEventListener('click', () => {
        const verbSelect = document.querySelector('select[name="verb"]');
        const verbValue = verbSelect.value;
        const verbText = verbSelect.options[verbSelect.selectedIndex].text;
        const quantityInput = document.querySelector('input[name="quantity"]');
        const quantityValue = quantityInput.value;
        const chemicalSelect = document.querySelector('select[name="chemical"]');
        if (chemicalSelect.value.length === 0) {
            chemicalSelect.value = '';
        }
        const chemicalValue = chemicalSelect.value;
        const chemicalText = chemicalValue ? chemicalSelect.options[chemicalSelect.selectedIndex].text : "";
        const equipmentSelect = document.querySelector('select[name="equipment"]');
        const equipmentValue = equipmentSelect.value;
        const equipmentText = equipmentValue ? equipmentSelect.options[equipmentSelect.selectedIndex].text : "";

        if (verbValue || quantityValue || chemicalValue || equipmentValue) {
            const li = document.createElement('li');
            li.textContent = `${verbText} ${quantityValue} ${chemicalText} ${equipmentText}`;
            stepsList.appendChild(li);
            stepsValues.push(`${verbValue},${quantityValue},${chemicalValue},${equipmentValue}`);
            stepsInput.value = stepsValues.join(';');
            verbSelect.value = '';
            quantityInput.value = '';
            chemicalSelect.value = '';
            equipmentSelect.value = '';
        }

    });
</script>
{% endblock %}