{% load static %}
<nav
  class="navbar navbar-expand-lg navbar-light bg-light gradient-sm"
  style="position: sticky; top: 0; z-index: 99"
>
  <div class="container">
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img src= {% static 'logo.png' %} height="40" width="40" alt="MDB Logo"
      loading="lazy" style="margin-top: -1px" />
    </a>

    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      style="justify-content: flex-end"
    >
      {% if user.is_authenticated %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            style="color: rgba(0, 0, 0, 0.55); font-size: 24px"
            href="{% url 'experiments_list'%}"
            >Experiments</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            style="color: rgba(0, 0, 0, 0.55); font-size: 24px"
            href="{% url 'experiment_create'%}"
            >Create Experiment
          </a>
        </li>
        {% endif %}
      </ul>

      <div
        class="nav-item d-flex align-items-center"
        style="color: rgba(0, 0, 0, 0.55); font-size: 24px"
      >
        {% if not user.is_authenticated %}
        <a
          style="color: rgba(0, 0, 0, 0.55); font-size: 24px"
          class="nav-link"
          href="{% url 'login' %}"
        >
          Log in
        </a>
        {% endif %} {% if user.is_authenticated %}
        <a
          style="color: rgba(0, 0, 0, 0.55); font-size: 24px"
          class="nav-link"
          href="{% url 'logout' %}"
        >
          Log out
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
